.chatroom-page {
    display: flex;
    flex-direction: column;
    height: 150vh;
  }
  
  .chatroom-content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .sidebar {
    width: 250px;
    background: #f5f5f5;
    overflow-y: auto; /* For scrolling through chatrooms */
    padding: 10px;
  }
  
  .chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #eaeaea;
    padding: 20px;
  }
  
  .chatroom-entry {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .chatroom-image {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area without distorting */
    margin-right: 10px;
  }
  
  .chatroom-name {
    font-size: 16px; /* Adjust size as needed */
  }
  
  .chatroom-header {
    font-size: 20px; /* Adjust size as needed */
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Add padding to prevent messages from sticking to edges */
    gap: 10px;
    border: 1px solid #ccc; /* A subtle border around the message box */
    border-radius: 8px; /* Rounded corners for the message box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Optional: adds a slight shadow for depth */
    background: #ffffff;
  }
  
  .message {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 16px;
    margin: 5px 0;
    word-break: break-word;
    align-self: flex-start;
    max-width: 66%;
  }
  
  /* New additional CSS to make the bubble size to content */
.message * {
    display: inline; /* Inline display for children elements like span */
    white-space: pre-wrap; /* Wraps the text and preserves spaces */
  }

  .message.sent {
    align-self: flex-end;
    background-color: #65a833; /* Adjust color as needed */
  }
  
  .message.received {
    justify-content: flex-start;
    background-color: #c5c1c1; /* Adjust color as needed */
  }
  
  .message-author {
    font-weight: bold;
  }
  
  .message-content {
    margin-left: 5px;
  }
  
  .message-input {
    display: flex;
    padding: 10px;
    background: #eaeaea;
    
  }
  
  .message-input input {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    min-width: 80%;
    
  }
  
  .message-input button {
    padding: 5px 10px;
    border-radius: 16px;
    min-width: 15%;
    background: #65a833;
    outline: none;
    border: none;
  }
  .message-input button:hover {
    background-color:#647249
  }
  
  .chat-prompt {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; /* Adjust as needed */
    color: #666; /* Adjust as needed */
    
  }
  