.chatroom-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatroom-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background: #f5f5f5;
  overflow-y: auto; /* For scrolling through chatrooms */
  padding: 10px;
}

.chat-area {
  display: flex;
  flex-direction: column;
  background: #eaeaea;
  padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  max-height: 98vh; /* Set the maximum height of the chat area */
  min-height: 98vh; /* Set the maximum height of the chat area */
  overflow-y: auto; /* Enable scrolling within the chat area */
}

.chatroom-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.chatroom-image {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without distorting */
  margin-right: 10px;
}

.chatroom-name {
  font-size: 16px; /* Adjust size as needed */
}

.chatroom-header {
  font-size: 20px; /* Adjust size as needed */
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse; /* Change direction to column-reverse */
  padding: 10px;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: #ffffff;
}

.message {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  padding: 8px 12px;
  border-radius: 16px;
  margin: 5px 0;
  align-self: flex-start; /* Default alignment for received messages */
  max-width: 66%;
  background-color: #c5c1c1; /* Adjust color as needed */
}

/* New additional CSS to make the bubble size to content */
.message * {
  display: inline; /* Inline display for children elements like span */
  white-space: pre-wrap; /* Wraps the text and preserves spaces */
}

.message.sent {
  align-self: flex-end;
  background-color: #65a833; /* Adjust color as needed */
}



.message-gif img {
  max-width: 1px; /* Maximum width for GIFs */
  max-height: 1px; /* Maximum height for GIFs */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Display block to remove bottom space */
  margin-bottom: 10px; /* Space between GIF and text */
  border-radius: 8px;
}


.message.received {
  justify-content: flex-start;
  background-color: #c5c1c1; /* Adjust color as needed */
}

.message-sender {
  font-weight: bold;
  color: #333; /* Darker text for better readability */
  margin-bottom: 4px; /* Space between author name and message content */
}

.message-content {
  margin-left: 5px;
}

.message-input {
  display: flex;
  padding: 10px;
  background: #eaeaea;
  
}

.message-input input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  min-width: 80%;
  border-radius: 8px;
}

.send-button {
  padding: 5px 10px;
  border-radius: 16px;
  width: 15%; /* Set width to 10% of its container */
  background: #65a833;
  outline: none;
  border: none;
  color: white; /* Ensure text color is white for better visibility */
  font-weight: bold; /* Optional: makes the text bold */
}

.send-button:hover {
  background-color: #647249;
}

.plus-button {
  width: 3vw; /* or any width */
  height: 3vw; /* same as width for a square */
  
  background-image: url('https://static.thenounproject.com/png/261370-200.png'); /* Your plus icon image */
  background-repeat: no-repeat;
  background-position: center; /* Centers the background image within the button */
  background-size: cover; /* Covers the entire area of the button, maintaining the aspect ratio */
  border: none; /* Removes any border */
  cursor: pointer;
  margin-right: 10px; /* Space between this button and any adjacent elements */
  display: flex; /* Utilizes flexbox for alignment */
  align-items: center; /* Vertically centers any content (if present) */
  justify-content: center; /* Horizontally centers any content (if present) */
  padding: 0; /* Removes padding to avoid increasing the button's size */
  overflow: hidden; /* Ensures no overflow outside the button's rounded boundary */
  background-color: transparent; /* Makes the background transparent */
}

.plus-button:hover {
  background-color: #e0e0e0; /* Slightly darker background on hover for feedback */
}



.chat-prompt {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem; /* Adjust as needed */
  color: #666; /* Adjust as needed */
  
}
