.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  
  .login-inner {
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
  }
  
  .logo-container {
    margin-bottom: 30px;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #45b6d8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forgot-password {
    font-size: 14px;
    color: #666;
    cursor: pointer;
  }
  
  .signup-container {
    margin-top: 20px;
  }
  
  .signup-text {
    font-size: 14px;
    color: #666;
  }
  
  .signup-link {
    color: #45b6d8;
    font-weight: bold;
    cursor: pointer;
  }